#main_heading {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    /*background-size: 600px 1000px;*/
    height: 130px;
    text-align: center;
    font-size: 100px;
    /*padding-top: 40px;*/
    color: #F7DD8C;
}

#brushes {
    background-color: #75D653;
    height: 40px;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#image1 {
    font-family: Arial, Helvetica, sans-serif;
}

#frames {
    background-color: rgb(238, 19, 108);
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
