                          :root {
                             --primary-color: white;
                             --base: #ffc600;
                             --spacing: 10px;
                             --blur: 10px;
                         }
                         
                         body {
                             text-align: center;
                             background: #193549;
                             font-family: helvetica neue, sans-serif;
                             font-weight: 35px;
                             font-size: 23px;
                             color: var(--primary-color);
                         }
                         
                         img {
                             padding: var(--spacing);
                             background: var(--base);
                             filter: blur(var(--blur));
                             height: 350px;
                             width: 450px;
                         }
                         
                         .controls {
                             margin-bottom: 50px;
                             display: flex;
                         }
                         
                         .spacing {
                             text-align: left;
                         }
                         
                         #spacingdiv {
                             text-align: left;
                             width: 10em;
                             padding-left: 20px;
                         }
                         
                         #spacingp {
                             font-weight: 10;
                             font-size: 14px;
                         }
                         
                         #blurdiv {
                             width: 10em;
                             margin-left: 290px;
                         }
                         
                         #blurp {
                             font-weight: 10;
                             font-size: 14px;
                         }
                         
                         #basediv {
                             text-align: right;
                             width: 10em;
                             margin-left: 300px;
                         }
                         
                         #basep {
                             font-weight: 10;
                             font-size: 14px;
                         }
                         
                         input {
                             width: 100px;
                         }
                         
                         .hl {
                             color: var(--base)
                         }
